//	------------------------------------------------------------------
//	Adam Wilson: Cinema Finder
//
//	Imports
//	------------------------------------------------------------------

	@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,400italic,500,500italic,700);

	@import "../components/font-awesome/css/font-awesome.min.css";
	@import "../components/flexslider/flexslider.css";
	@import "../components/bootstrap/dist/css/bootstrap.min.css";

	@import "partials/all.less";

// 	------------------------------------------------------------------
//	Global Styles
// 	------------------------------------------------------------------

	html, body { width: 100%; height: 100%; }

	body {
		.ubuntu(400);
		font-size: 16px;
		background: #fff;
	}

	hr {
		width: 100%;
		margin: 2.5em 0;
		background: @light-grey;
		height: 1px;
		border: none;
	}

	.btn-primary {
		border: none;
		background: @primary-red;
		&:hover, &:active, &:focus {
			background: darken(@primary-red, 10%) !important;
		}
	}

// 	------------------------------------------------------------------
//	Links
// 	------------------------------------------------------------------

	a {
	  color: @mid-grey;
	  text-decoration: none;
	  .transition(0.15s, linear);
	  cursor: pointer;

	  &:hover {
	    color: lighten(@mid-grey, 20%);
	    text-decoration: underline;
	  }
	}

// 	------------------------------------------------------------------
//	General
// 	------------------------------------------------------------------

	header {
		margin: 0 auto;
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 9;
    	box-shadow: 0 1px 2px rgba(0,0,0,.25);

		nav {
			margin: 0 !important;
			li {
				cursor: pointer;
				a { color: #fff; }
			}
		}

		.navbar-default {
			border: none;
			border-radius: 0;
			a { color: #fff !important; }
			background: @primary-red;
			box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
			.active a { background-color: darken(@primary-red, 10%) !important; }
		}

		.logo {
			margin-right: 2em;
			text-shadow: none;
			font-size: 36px;
			line-height: 36px;
		}

		form {
			input[type='text'] {
				height: 50px;
				border: none;
				border-radius: 0;
				float: left;
			}
			.btn {
				height: 50px;
				font-size: 16px;
				background: darken(@primary-red, 10%);
				border-radius: 0;
				float: left;
			}
		}
	}

	footer {
		background: #fafafa;
		border-top: 1px solid @light-grey;
		padding: 1em;
		text-align: center;
	}

	section {
		padding: 2em 0;
		&.grey { background: #fafafa; }
	}

	article {
		padding: 2em;
		background: #fafafa;
	}


	.map-wrap {
		width: 100%;
		height: 100%;
		position: relative;

		#map {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}

		.map-form {
			width: 45%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding: 0;
			z-index: 999;

			input[type='text'] {
				height: 60px;
				width: 76%;
				border-radius: 0;
				float: left;
				font-size: 20px;
				box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
			}
			.btn {
				padding: 20px;
			    min-width: 60px;
			    text-align: center;
			    margin: 0;
			    float: left;
			    border-radius: 0;
				box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
			}
			.location { background: darken(@primary-red, 5%) }
		}
	}

	.nearest-cinema {
		display: none;
		overflow: hidden;
		padding: 1.5em 0 2em;
		background: #f2f2f2;
		position: absolute;
	    width: 100%;
	    bottom: 0;
    	box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
	    h3 { margin: 0; }
	    &.down { height: 11%; }

	    .cinema {
	    	margin-top: 1em;
	    	h4 { margin-bottom: 0; }
	    }
	}

	.info-window {
		overflow: hidden;
		.row { width: 100%; }
	}

	.image-grid {
		position: absolute !important;
	    width: 100%;
	    height: 100% !important;
	    left: 0;
	    top: 0;
	    overflow: hidden;
	    z-index: 10;
	    background: #f5f5f5;

		.grid-item, .grid-sizer {
			width: 25%;
		}

		.grid-item {
			float: left;
			overflow: hidden;
			height: 175px;
		}
	}

	@font-face {
	  font-family: 'Youngblood';
	  src:  url('../fonts/Youngblood.otf') format('opentype');
	}

	.logo {
		font-family: 'Youngblood', arial, sans-serif;
		font-size: 82px;
		line-height: 40px;
		color: #fff;
		text-align: center;
		text-shadow: 1px 1px #000;
	}

	.strap {
		@ubuntu(400);
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 5px;
		color: #fff;
		text-align: center;
		margin-bottom: 40px;
	}

// 	-----------------------------------------------------------------
//	Forms
// 	------------------------------------------------------------------



// 	------------------------------------------------------------------
//	Media Queries
// 	------------------------------------------------------------------

    @import "partials/responsive.less";